# Flutter / Dart
.dart_tool/
build/
pubspec.lock

# IDE
.vscode/
.idea/

# Firebase / secrets
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# Env files
.env
.env.*

# Keystores / signing
*.jks
*.keystore
android/key.properties

# Misc
*.log
